server {

    listen 80;

    location / {


        return 301 https://$host$request_uri;
    }

}

server {
   
    listen 443 ssl default_server;

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    ssl_certificate     {{ ssl_crt }};
    ssl_certificate_key {{ ssl_key }};

    server_name {{ server_name }};

    location / {
    
        root /var/www/html;
  
    }

}
